MotoGP-Desktop_final/xml/circuito.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.uniovi.es"
	xmlns="http://www.uniovi.es"
	elementFormDefault="qualified">
  <xs:element name="circuito">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nombre"/>
        <xs:element ref="longitud_pista"/>
        <xs:element ref="anchura"/>
        <xs:element ref="fecha"/>
        <xs:element ref="hora"/>
        <xs:element ref="vueltas"/>
        <xs:element ref="localidad"/>
        <xs:element ref="pais"/>
        <xs:element ref="patrocinador"/>
        <xs:element ref="bibliografia"/>
        <xs:element ref="galeria_fotos"/>
        <xs:element ref="galeria_videos" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="coordenadas_centro"/>
        <xs:element ref="tramos"/>
        <xs:element ref="resultados_carrera"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:element name="nombre">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="5"/>
        <xs:maxLength value="100"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="longitud_pista">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:decimal">
          <xs:attribute name="unidad" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="metros"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="anchura">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:decimal">
          <xs:attribute name="unidad" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="metros"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="fecha" type="xs:date"/>
  <xs:element name="hora" type="xs:time"/>
  <xs:element name="vueltas" type="xs:positiveInteger"/>
  <xs:element name="localidad" type="xs:string"/>
  <xs:element name="pais" type="xs:string"/>
  <xs:element name="patrocinador" type="xs:string"/>

  <xs:element name="bibliografia">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="referencia" type="xs:anyURI" minOccurs="3" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="galeria_fotos">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="foto" minOccurs="1" maxOccurs="5"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="foto">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="descripcion" type="xs:string"/>
        <xs:element name="archivo" type="xs:anyURI"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="galeria_videos">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="video" minOccurs="1" maxOccurs="3"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="video">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="descripcion" type="xs:string"/>
        <xs:element name="archivo" type="xs:anyURI"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="coordenadas_centro">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="latitud">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:minInclusive value="-90.0"/>
              <xs:maxInclusive value="90.0"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="longitud">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:minInclusive value="-180.0"/>
              <xs:maxInclusive value="180.0"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="altitud" type="xs:decimal"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="tramos">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tramo" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="tramo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="distancia">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:decimal">
                <xs:attribute name="unidad" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="metros"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="coordenadas">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="latitud">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="-90.0"/>
                    <xs:maxInclusive value="90.0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="longitud">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="-180.0"/>
                    <xs:maxInclusive value="180.0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="altitud" type="xs:decimal"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="sector" type="xs:integer">
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="resultados_carrera">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="vencedor"/>
        <xs:element ref="clasificacion_mundial"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="vencedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nombre"/>
        <xs:element name="tiempo" type="xs:duration"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="clasificacion_mundial">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="piloto" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="piloto">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="posicion" type="xs:positiveInteger"/>
        <xs:element ref="nombre"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
